.p-control {
  display: flex;
  align-items: center;

  .color-ppicker {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

    .add-file {
      height: 40px !important;
    }
  }
}

canvas {
  border: solid 1px gray;
}

.email-error {
  color: red;
}
